* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    overflow-x:hidden;
}
.black-back{
    color: white;
    background-color: black;
}

.container{
    display: flex;
    padding-top:20px;
}

.left-nav{
  
    height: 100vh;
    display: flex;
    width:25vw;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    border-right: 1px solid #E1E8ED;
}

.icons {
    display: flex;
    flex-direction: column; 
    padding-left:5vw;
    
}
.icon-row{
    width: 15vw;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding:5px;
    border-radius: 30px;
    background-color:  white;
    margin: 20px 0px;
    cursor: pointer;
}

#home{
    padding-left:4px;
}
#more{
    padding-left:5px;
}


.icon-row:hover{
   background-color:  #E1E8ED;
}

i{
    width: 50px;
    margin-left: 15px;
}
.title{
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    border-radius: 20px;
}
.cancel-btn, .logout-btn{
    background-color: #E1E8ED;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.logout-btn{
    color: white;
    background-color:#1D9BF0;
}
.logout-choices{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.fa-twitter{
    color:#1D9BF0;
}
.search-twitter{
    
    position:relative;
}

.search{
    margin-left: 10px;
    width:20vw;
    height: 50px;
    align-self: center;
    margin-bottom: 40px;
    background-color: #E1E8ED;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 5px;
    padding-left:50px;
}
.fa-search{
    position: absolute;
    top:16%;
    left:8%;    
    z-index: 1;
}

.home-feed{
    display: flex;
    flex-direction: column;
    padding:10px;
    width:70vw;
}
.create-tweet{
    position: relative;
}
.tweet-textarea{
    padding: 10px;
    color: black;
    border: 1px solid #E1E8ED;
    border-radius: 30px;
    height: 250px;
    width:70vw;
    box-sizing: border-box;
    margin:10px;
    padding-top: 60px;
    padding-left: 100px;
    resize: none;
}
.fa-picture-o{
    position: absolute;
    right:200px;
    bottom:30px;
}
.submit-tweet{
    position: absolute;
    right:70px;
    bottom:30px;
    width:130px;
    height:40px;
    color: white;
    background-color: #1D9BF0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.submit-tweet:active{
    scale: 0.9;
}
.profile-pic{
    position: absolute;
    border-radius: 50%;
    top: 15%;
    left: 2%;
    width:70px;
    height:70px;
}
hr{
    width:75vw;
    color: #E1E8ED;
    height: 1px;
}

/*************************************/
.profile{
    display:flex;
    flex-direction: column;
}
.profile-media{
    display:flex;
    flex-direction: column;
    position: relative;
    padding: 10px 20px 0px 20px;
    box-sizing: border-box;
}
.background{
    background-color: rgb(207, 217, 222);
    height:300px;
}
.profile-picture{
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    width:170px;
    height: 170px;
    left:10%;
    bottom:0%;
}
.edit-profile{
    width:130px;
    height:40px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    align-self: flex-end;
    margin: 30px 30px 10px 0px;
}
.edit-profile:hover{
    background-color: rgb(207, 217, 222);
}
.bio{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0px 20px;
    box-sizing: border-box;
}
.follow{
    align-self: flex-end;
    position: relative;
}

.follow-btn{
    border-radius: 30px;
    cursor: pointer;
    margin: 20px 10px 10px 0px;
    width:120px;
    height:40px;
    color:white;
    background-color: black;
}
.follow >i:hover{
    cursor: pointer;
}

.block{
    position: absolute;
    width:100px;
    height:30px;
    left:-25px;
    bottom:1px;
    cursor: pointer;
    background-color:  rgb(207, 217, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    border: none;
    border-radius: 5px;
}

@media only screen and (max-width: 900px){
    .title, .search, .fa-search{
        display: none;
    }
    .tweet{
        height:25px;
        font-size: 13px;
    }
    
    .profile-picture{
        width:110px;
        height: 110px;
    }
    .background{
        height:200px;
    }
}

/* my profile tweets section */